.about {
  width: 100%;
  height: auto;
  background-color: $bg-color;
  padding: 20px;
  h2 {
    font-size: 3rem;
    color: $primary-color;
  }
  .miembros {
    width: 100%;
    overflow: scroll;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__miembro {
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 20px;
    width: 500px;
    min-width: 250px;
    height: 350px;
    box-shadow: 0.4em 0.4em 1.6em white,
                -0.2em -0.2em 1.5em white;
    border-radius: 20px;
    background-color: cyan;
    img {
      width: 100px;
      height: 100px;
    }
    p {
      margin-top: 10px;
      font-size: 2rem;
    }
  }
}