.about {
  width: 100%;
  height: auto;
  background-color: $bg-color;
  padding: 20px;
  h2 {
    font-size: 3rem;
    color: $primary-color;
  }
  &__miembro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 30px;
    width: 250px;
    height: 350px;
    box-shadow: 0.4em 0.4em 1.6em white,
                -0.2em -0.2em 1.5em white;
    border-radius: 20px;
    background-color: cyan;
    img {
      width: 100px;
      height: 100px;
    }
    p {
      margin-top: 10px;
      font-size: 2rem;
    }
  }
}