.header {
  width: 100%;
  height: 80px;
  background-color: $bg-color;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__name {
    font-size: 3rem;
    color: $primary-color;
  }
  &__icon {
    font-size: 3rem;
    color: black;
    :hover {
      color: $primary-color;
      cursor: pointer;
    }
  }
  &__nav, &__search {
    display: none;
  }

  // media responsive
  @media (min-width: 1024px) {
    @include flex;
    height: 100px;
    &__name {
      font-size: 5rem;
      margin-left: 30px;
    }
    &__icon {
      display: none;
    }
    &__nav{
      display: initial;
      width: 45vw;
      ul{
        display: flex;
        justify-content: space-around;
        font-size: 1.7rem;
        font-weight: 600;
        text-transform: uppercase;
        :hover {
          cursor: pointer;
          color: $primary-color;
        }
      }
    }
    &__search {
      margin-right: 30px;
      display: initial;
      input {
        height: 40px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px solid black;
        font-size: 1.8rem;
        outline: none;
        color: $primary-color;
        margin-right: 10px;
        background-color: $bg-color ;
      }
      .logo__search{
        font-size: 2rem;
      }
    }
  }
}

